{% extends 'TemplateBundle::template.html.twig' %}

{% block js %}
    <script src="{{ asset('bundles/template/js/phpjs.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/ordenpub/js/bundleCustomJs.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/ordenpub/js/insertModuleCustomJs.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}Orden de publicidad{% endblock %}

{% block content %}

{% if errors is defined %}
    <div id="error">
    <h3>Posibles errores:</h3>
    <ul>
    {% for error in errors %}
        <li>{{ error.message }}</li>
    {% endfor %}
    </ul>
    </div>
{% endif %}

{% if not costotarifas %}
    <div id="error">
        <p>No hay pautas definidas.</p>
    </div>
{% endif %}

{{ form_start(form, {'attr': {'id': 'form1'}}) }}
    {{ form_errors(form) }}
    <table class="resp" cellpadding="5" cellspacing="5">
        <tr style="height:32px;"><th colspan="2"><h3>Alta de Orden de publicidad</h3></th></tr>
        <tr style="height:32px;"><td>{{ form_label(form.fecha) }}</td><td>{{ form_widget(form.fecha) }}</td></tr>
        <tr style="height:32px;"><td>{{ form_label(form.idCliente) }}</td><td>{{ form_widget(form.idCliente) }}&nbsp;&nbsp;O <a href="#" id="opener"><span id="underlined">agrega un cliente</span></a></td></tr>
        <tr style="height:32px;"><td>{{ form_label(form.texto_publicidad) }}<div id="info">Máximo 400 caracteres</div></td><td>{{ form_widget(form.texto_publicidad) }}</td></tr>
        <tr style="height:32px;"><td>{{ form_label(form.observaciones) }}</td><td>{{ form_widget(form.observaciones) }}</td></tr>
        <tr><td>{{ form_widget(form.confirmation) }}</td></tr>
        <tr><td><a href="#" class="add_tag_link" id="underlined">Agregar pauta</a></td></tr>
    </table>

    <span id="selectsMessage"></span>
    <div id="pautasForm" style="display: none">
        <select class="emisoras">
            <option value="0">Seleccione emisora</option>
            {% for item in emisoras %}
                <option value="{{ item.getIdEmisora }}">{{ item.getNombre }}</option>
            {% endfor %}
        </select>
        <select class="tarifas">
            <option value="0">Seleccione tarifa</option>
        </select>
        <select class="pautas">
            <option value="0">Seleccione pauta</option>
        </select>
    </div>
            
    <ul id="collectionHolder" data-prototype="
        {% filter escape %}
            {{ include('OrdenPubBundle::pautasPrototype.html.twig', {'form': form.id_tarifa.vars.prototype}) }}
        {% endfilter %}
        {# {{ form_widget(form.id_tarifa.vars.prototype)|e }} #}
        ">
        <li></li>
        {% if form.id_tarifa is defined %}
            {% for tarifa in form.id_tarifa %}
                <li id="pautasFormHolder{{ loop.index0 }}">
                    {# <table> #}
                        <script>
                            $(function() {
                                var form = $('#pautasForm').clone();
                                form.find('.emisoras').attr('id', 'emisoras'+{{ loop.index0 }});
                                form.find('.tarifas').attr('id', 'tarifas'+{{ loop.index0 }});
                                form.find('.pautas').attr('id', 'pautas'+{{ loop.index0 }});

                                $('#addPautasForm{{ loop.index0 }}').html(form.html());
                            });
                        </script>
                        <div id="addPautasForm{{ loop.index0 }}"></div>
                        <table>
                            <tr><td>{{ form_widget(tarifa.id_costotarifas) }}</td></tr>
                            <tr><td>{{ form_label(tarifa.fecha_desde) }}</td><td>{{ form_widget(tarifa.fecha_desde, {attr: {class: 'fechaDesde' } }) }}</td></tr>
                            <tr><td>{{ form_label(tarifa.fecha_hasta) }}</td><td>{{ form_widget(tarifa.fecha_hasta, {attr: {class: 'fechaHasta' } }) }}</td></tr>
                            <tr><td>{{ form_label(tarifa.descuento) }}</td><td>{{ form_widget(tarifa.descuento) }}</td></tr>
                            <tr><td>{{ form_label(tarifa.recargo) }}</td><td>{{ form_widget(tarifa.recargo) }}</td></tr>
                            <tr><td>{{ form_label(tarifa.neto) }}</td><td>{{ form_widget(tarifa.neto) }}</td></tr>
                            <tr><td>{{ form_label(tarifa.total) }}</td><td>{{ form_widget(tarifa.total) }}</td></tr>
                        </table>
                </li>
                <script>
                    $(function() {
                        var pautFormHolder = $('#pautasFormHolder'+{{ loop.index0 }});
                        addTagFormDeleteLink(pautFormHolder);
                        
                        $('#mediterraneofm_mediterraneofmbundle_insertordenpubtype_id_tarifa_' + {{ loop.index0 }} + '_descuento').live('change paste keyup input', function() {
                            calc({{ loop.index0 }});
                        });

                        $('#mediterraneofm_mediterraneofmbundle_insertordenpubtype_id_tarifa_' + {{ loop.index0 }} + '_recargo').live('change paste keyup input', function() {
                            calc({{ loop.index0 }});
                        });

                        $('#mediterraneofm_mediterraneofmbundle_insertordenpubtype_id_tarifa_' + {{ loop.index0 }} + '_neto').live('change paste keyup input', function() {
                            calc({{ loop.index0 }});
                        });
                        
                        var idFechaDesde = $('#pautasFormHolder{{ loop.index0 }}').find('input').eq(1).attr('id');
                        var idFechaHasta = $('#pautasFormHolder{{ loop.index0 }}').find('input').eq(2).attr('id');
                        
                        $('#'+ idFechaDesde + ', #' + idFechaHasta).datepicker({ 
                            dateFormat: "dd-mm-yy",
                        });
                        
                        $('#'+ idFechaDesde + ', #' + idFechaHasta).tooltip({
                            position: {
                                my: "top-35",
                                at: "top-35",
                            },
                        });
                        
                        $( '#'+ idFechaDesde ).focus(function() {
                            $( this ).tooltip( "disable" );
                        });
                        
                        $( '#'+ idFechaHasta ).focus(function() {
                            $( this ).tooltip( "disable" );
                        });
                    });
                </script>
            {% endfor %}
        {% endif %}
    </ul>
    
    {# Autocompletar las pautas al recargar el formulario #}
    {% if confirmPautas is defined %}
        {% for item in confirmPautas %}
            <script>
                $(function() {
                    $('#emisoras' + {{ loop.index0 }} + '>option[value="' + {{ item.getIdTarifa.getIdEmisora.getIdEmisora }} + '"]').attr('selected', 'selected').trigger('change');
                
                    $('#tarifas' + {{ loop.index0 }}).bind('DOMSubtreeModified', function() {
                        $('#tarifas' + {{ loop.index0 }} + '>option[value="' + {{ item.getIdTarifa.getIdTarifa }} + '"]').attr('selected', 'selected').trigger('change');
                    });
                    
                    $('#pautas' + {{ loop.index0 }}).bind('DOMSubtreeModified', function() {
                        $('#pautas' + {{ loop.index0 }} + '>option[value="' + {{ item.getIdCostoTarifas }} + '-' + {{ item.getCosto }} + '"]').attr('selected', 'selected');
                    });
                });
            </script>
        {% endfor %}
        <div id="modDialog" title="Aviso">
            <p>Ha realizado modificaciones en la orden, por lo que deberá confirmar los datos ingresados nuevamente.</p>
        </div>
        <script>
        $(function() {
            $('#form1').change(function(event) {
                var elem = event.target;
                var claseElem = $(elem).parent().attr('class');

                if(claseElem != 'tarifas') {
                    esconderConfirm();
                }
            });
        });
    </script>
    {% endif %}
    {# EOF Autocompletar las pautas al recargar el formulario #}
    
    {# Mostrar grillas de programacion #}
    {{ render(controller('GrillasBundle:Grillas:show', {'select': 'all'})) }}
    {# EOF grillas de programacion #}

    <table class="resp">
        <tr><td><input type="hidden" value="{{ hidden }}" name="hidden"></td></tr>
    </table>

    <hr>
    {% if hidden == 1 %}
        <div class="confirmac">
            <table class="resp">
                <tr><th>Confirme los datos: </th></tr>
            </table>

            <fieldset>
                <legend>Condiciones por emisora</legend>
                <table class="resp">
                    <tr><td>Emisora</td><td>Fecha desde</td><td>Fecha hasta</td><td>Recargo %</td><td>Descuento %</td><td>Neto</td><td>Total</td></tr>
                {% for item in condic %}
                    <tr>
                        <td>{{ item.getIdCostoTarifas.getIdTarifa.getIdEmisora.getNombre }}:</td>
                        <td>{{ item.getFechaDesde|date('d-m-Y') }}</td>
                        <td>{{ item.getFechaHasta|date('d-m-Y') }}</td>
                        <td>{{ item.getRecargo|number_format(2, ',', '.') }}</td>
                        <td>{{ item.getDescuento|number_format(2, ',', '.') }}</td>
                        <td>${{ item.getNeto|number_format(2, ',', '.') }}</td>
                        <td>${{ item.getTotal|number_format(2, ',', '.') }}</td>
                    </tr>
                {% endfor %}
                </table>
            </fieldset>

            <fieldset>
                <legend>Datos de la orden</legend>
                <table class="resp">
                        <tr><td>Texto:</td><td>{{ data.getTextoPublicidad }}</td></tr>
                        <tr><td>Cliente:</td><td>{{ data.getIdCliente.getComercio }}</td></tr>
                        <tr><td>Tarifas:</td><td>{% for item in confirmTarifas %}{{ item.getNombre }}{% if not loop.last %}, {% endif %}{% endfor %}</td></tr>
                        <tr><td>Observaciones:</td><td>{{ data.getObservaciones }}</td></tr>
                        <tr><td>Fecha cobro:</td><td>{{ fechaCobro|date('d-m-Y') }}</td></tr>
                        <tr><td>Total:</td><td>${{ total|number_format(2, ',', '.') }}</td></tr>
                </table>
            </fieldset>
            <hr>
        </div>
        Los campos marcados con un asterisco <span id="required">(*)</span> son obligatorios. <br>
        <input type="submit" value="confirmar" id="conf" />
        <button onclick="{{ path('insertOrdenPub') }}" value="0" name="mediterraneofm_mediterraneofmbundle_insertordenpubtype[confirmation]" id="modButton">modificar</button>
        <input type="reset" value="cancelar" onclick="window.location='{{ path('insertOrdenPub') }}';"/>
    {% else %}
        Los campos marcados con un asterisco <span id="required">(*)</span> son obligatorios. <br>
        <input type="submit" value="aceptar"/>
        <input type="reset" value="cancelar"/>
    {% endif %}
{{ form_end(form) }}

<div id="dialog" title="Alta de clientes">
    {{ render(controller('ClientesBundle:Clientes:insertST')) }}
</div>

<div id="dialog2" title="Confirmar">
    <p>Está a punto de generar una orden de publicidad.<br><span style="font-weight: bold">¿ Está seguro ?</span></p>
</div>

{% endblock %}