<table>
    <tr><td>{{ form_widget(form.id_costotarifas) }}</td></tr>
    <tr><td>{{ form_label(form.fecha_desde) }}</td><td>{{ form_widget(form.fecha_desde, {attr: {class: 'fechaDesde' } }) }}</td></tr>
    <tr><td>{{ form_label(form.fecha_hasta) }}</td><td>{{ form_widget(form.fecha_hasta, {attr: {class: 'fechaHasta' } }) }}</td></tr>
    <tr><td>{{ form_label(form.neto) }}</td><td>{{ form_widget(form.neto) }}</td></tr>
    <tr><td>{{ form_label(form.descuento) }}</td><td>{{ form_widget(form.descuento) }}</td></tr>
    <tr><td>{{ form_label(form.recargo) }}</td><td>{{ form_widget(form.recargo) }}</td></tr>
    <tr><td>{{ form_label(form.total) }}</td><td>{{ form_widget(form.total) }}</td></tr>
</table>
