{% extends 'TemplateBundle::template.html.twig' %}

{% block title %}Alta de tarifas{% endblock %}

{% block js %}
<script>
$(function() {
$( "#mediterraneofm_mediterraneofmbundle_inserttarifastype_fecha_desde, #mediterraneofm_mediterraneofmbundle_inserttarifastype_fecha_hasta" ).datepicker({ dateFormat: "dd-mm-yy" });
});
</script>

<script>
$(function() {
    $( '#mediterraneofm_mediterraneofmbundle_inserttarifastype_fecha_desde' ).focus(function() {
        $( '#mediterraneofm_mediterraneofmbundle_inserttarifastype_fecha_desde' ).tooltip( "disable" );
    });
});

$(function() {
    $( '#mediterraneofm_mediterraneofmbundle_inserttarifastype_fecha_hasta' ).focus(function() {
        $( '#mediterraneofm_mediterraneofmbundle_inserttarifastype_fecha_hasta' ).tooltip( "disable" );
    });
});
</script>

<script>
$(function() {
    $( '#mediterraneofm_mediterraneofmbundle_inserttarifastype_fecha_desde, #mediterraneofm_mediterraneofmbundle_inserttarifastype_fecha_hasta' ).tooltip({
        position: {
            my: "top-35",
            at: "top-35",
        },
    });
});
</script>
{% endblock %}

{% block content %}
{% if errors is defined %}
<div id="error">
    Posibles errores:
    <ul>
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form action="{{ path('insertTarifas') }}" method="post" {{ form_enctype(form) }}>

    <table class="resp">
        <tr><th colspan="2"><h3>Alta de tarifas</h3></th></tr>
        {% for form in form %}
            <tr style="height:32px;"><td>{{ form_label(form) }}</td><td>{{ form_widget(form) }}</td></tr>
        {% endfor %}
    </table>

    <hr>

    Los campos marcados con un asterisco <span id="required">(*)</span> son obligatorios. <br>  
    <input type="submit" value="aceptar"/>
    <input type="reset" value="cancelar" onclick="window.location='{{ path('showTarifas') }}'"/>
</form>

{% endblock %}